@using SharedLibrary.Models
@inherits MvvmBlazor.Components.MvvmComponentBase<AddAlbumViewModel>
@inject AddAlbumViewModel _addAlbum


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Adicionar Album
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <EditForm Model="NewAlbum" OnSubmit="CreateAlbum" FormName="adicionarAlbum">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="staticBackdropLabel">Adicionar Album</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="contain">
                        <label class="text-dark">Nome: </label>
                        <br />
                        <InputText @bind-Value="NewAlbum.Nome">

                        </InputText>
                        <br />
                        <br />
                        <br />
                        <label class="text-dark">Artista:</label>
                        <br />
                        <InputText @bind-Value="NewAlbum.Artista">

                        </InputText>
                        <br />
                        <br />
                        <br />
                        <label class="text-dark">Gênero:</label>
                        <br />
                        <InputText @bind-Value="NewAlbum.Genero">

                        </InputText>
                        <br />
                        <br />
                        <br />
                        <label class="text-dark">Link Imagem:</label>
                        <br />
                        <InputText @bind-Value="NewAlbum.Imagem">

                        </InputText>
                        <br />
                        <br />

                        @*  <h4 class="text-white"><em>@_addAlbum.isAdded</em></h4> *@

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Adicionar</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public AlbumDto NewAlbum { get; set; } = new();

    public async Task CreateAlbum()
    {
        await _addAlbum.HandleSubmit(NewAlbum);
    }
}
