@page "/delete/{id:int}"
@rendermode InteractiveServer
<h3>DeletarAlbum</h3>

<button class="btn btn-danger" @onclick="DeleteAlbum"> Tem Certeza Que Deseja Deletar o Album ?</button>
<h1>@isDeleted</h1>



@code {
    [Parameter]
    public int Id { get; set; }
    public string isDeleted = "";

    public async Task<Album> DeleteAlbum()
    {
        var delete = await _albumRepository.DeleteAlbumAsync(Id);
        isDeleted = "Album deletado com sucesso";
        return delete;
        await Task.Delay(500);

    }
}
