@page "/delete/{id:int}"
@* @inherits MvvmBlazor.Components.MvvmComponentBase<DeleteAlbumViewModel> *@
@rendermode InteractiveServer
<h3>DeletarAlbum</h3>

<button class="btn btn-danger" @onclick="DeleteAlbum"> Tem Certeza Que Deseja Deletar o Album ?</button>
<h1 class="text-white">@isDeleted</h1>



@code {
    [Parameter]
    public int Id { get; set; }
    public string isDeleted = "";

    public async Task<Album> DeleteAlbum()
    {
        var delete = await _albumRepository.DeleteAlbumAsync(Id);
        isDeleted = "Album deletado com sucesso";
        await Task.Delay(500);
        return delete;

    }
}
